<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Jovepy</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous">
    <script src="./static/animation.js"> </script>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
  
  <div class=".container-fluid">
        <div class="row"><br></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
            <div class = 'd-grid gap-2 d-md-block'>
                <h1 class="text-center" stylesheet="color:#fff;">Assessor de
                Investimentos Digital</h1>
                <br><br/>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          O que é?
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <strong>O Assessor é um localizador de fundos de
                        investimentos disponíveis no Brasil</strong>, que busca
                        o investimento com a
                            maior unidade de retorno sobre o risco possível. Seu
                            objetivo é ajudar investidores leigos a investirem
                            melhor. Esses investimentos devem ser
                            aderentes aos critérios do solicitante quanto a
                        volatilidade e tolerância à perdas. Não se trata de
                        recomendações de investimentos, a ferramenta apenas
                        localiza os investimentos conforme os dados coletados no
                        período de 2 meses.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Quais são as limitações dessa hospedagem grátis?
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>O volume de dados disponíveis para construção dos indicadores.</strong>
                          Infelizmente essa aplicação é hospedada de forma gratuita
                          e a quantidade de dados disponíveis no Portal de Dados
                         Abertos da CVM possui um tamanho que apenas na versão paga seria possível
                          disponibilizá-lo na WEB. 
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Como romper as limitações?
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Se você implementar essa <strong>aplicação offline</strong> 
                          será possível trabalhar com todos os dados
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Implementação offline.
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>Clique no botão e vá para página oficial do
                            projeto offline</strong> 
                            <br></br>
                            <button class="btn btn-info">Assessor Digital
                            Offline</button>
                            <br></br>
                          </div>
                        </div>
                      </div>
                      <br></br>
                      <button class="btn btn-info"> começar prévia </button>
                      <br></br>
                  </div>
                  {data}
            </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
    

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>